In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv("DOGE DEMO.csv")
df.head()

,År,Myndighet,Anslagsnamn,Anslagspostsnamn,Utgiftsområdesnamn,Organisationsnummer,Total,Unnamed: 7,Unnamed: 8,Utfall januari,...,Utfall mars,Utfall april,Utfall maj,Utfall juni,Utfall juli,Utfall augusti,Utfall september,Utfall oktober,Utfall november,Utfall december
0,2022,NaN,Ålderspensionssystemet vid sidan av statens bu...,"AP-fonderna, pensionsutgifter",Ålderspensionssystemet vid sidan av statens bu...,NaN,2.675130e+11,NaN,NaN,"28,603,765,692",...,"28,604,901,725","28,633,829,412","28,693,990,387","2,873,964,356","2,876,228,858","28,809,660,861","28,882,424,709","28,893,921,976","28,883,854,056","28,893,574,788"
1,2022,NaN,Ålderspensionssystemet vid sidan av statens bu...,Administrationsutgifter,Ålderspensionssystemet vid sidan av statens bu...,NaN,1.007173e+09,NaN,NaN,"83,931,082",...,"83,931,082","83,931,082","83,931,082","83,931,082","83,931,082","83,931,082","83,931,082","83,931,082","83,931,082","83,931,098"
2,2022,NaN,Ålderspensionssystemet vid sidan av statens bu...,"AP-fonderna, pensionsutgifter",Ålderspensionssystemet vid sidan av statens bu...,NaN,0.000000e+00,NaN,NaN,"0,426306",...,0,0,0,0,0,0,0,0,0,0
3,2022,NaN,Ålderspensionssystemet vid sidan av statens bu...,Administrationsutgifter,Ålderspensionssystemet vid sidan av statens bu...,NaN,1.115000e+03,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,1115
4,2022,NaN,Ålderspensionssystemet vid sidan av statens bu...,Administrationsutgifter,Ålderspensionssystemet vid sidan av statens bu...,NaN,4.870000e+02,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,487

In [9]:
df.drop(["Unnamed: 7", "Unnamed: 8"], axis=1, inplace=True)

In [11]:
df

,År,Myndighet,Anslagsnamn,Anslagspostsnamn,Utgiftsområdesnamn,Organisationsnummer,Total,Utfall januari,Utfall februari,Utfall mars,Utfall april,Utfall maj,Utfall juni,Utfall juli,Utfall augusti,Utfall september,Utfall oktober,Utfall november,Utfall december
0,2022,NaN,Ålderspensionssystemet vid sidan av statens bu...,"AP-fonderna, pensionsutgifter",Ålderspensionssystemet vid sidan av statens bu...,NaN,2.675130e+11,"28,603,765,692","2,863,311,995","28,604,901,725","28,633,829,412","28,693,990,387","2,873,964,356","2,876,228,858","28,809,660,861","28,882,424,709","28,893,921,976","28,883,854,056","28,893,574,788"
1,2022,NaN,Ålderspensionssystemet vid sidan av statens bu...,Administrationsutgifter,Ålderspensionssystemet vid sidan av statens bu...,NaN,1.007173e+09,"83,931,082","83,931,082","83,931,082","83,931,082","83,931,082","83,931,082","83,931,082","83,931,082","83,931,082","83,931,082","83,931,082","83,931,098"
2,2022,NaN,Ålderspensionssystemet vid sidan av statens bu...,"AP-fonderna, pensionsutgifter",Ålderspensionssystemet vid sidan av statens bu...,NaN,0.000000e+00,"0,426306","0,080999",0,0,0,0,0,0,0,0,0,0
3,2022,NaN,Ålderspensionssystemet vid sidan av statens bu...,Administrationsutgifter,Ålderspensionssystemet vid sidan av statens bu...,NaN,1.115000e+03,0,0,0,0,0,0,0,0,0,0,0,1115
4,2022,NaN,Ålderspensionssystemet vid sidan av statens bu...,Administrationsutgifter,Ålderspensionssystemet vid sidan av statens bu...,NaN,4.870000e+02,0,0,0,0,0,0,0,0,0,0,0,487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4103,2024,Kammarkollegiet,Återställning av Riksbankens eget kapital,Återställning av Riksbankens eget kapital,Statsskuldsräntor m.m.,2.021001e+09,2.500000e+04,0,0,0,0,0,0,0,0,25000,0,0,0
4104,2024,Kammarkollegiet,Avgiften till Europeiska unionen,Avgift baserad på bruttonationalinkomsten,Avgiften till Europeiska unionen,2.021001e+09,2.241040e+12,"36,564,393,232","17,161,359,383","213,349,553,928","142,190,536,339","142,190,536,339","357,239,613,292","170,603,717,321","170,603,717,321","170,603,717,321","170,603,717,321","170,603,717,321","479,324,988,542"
4105,2024,Naturvårdsverket,Avgiften till Europeiska unionen,Avgift baserad på icke materialåtervunnen plast,Avgiften till Europeiska unionen,2.021002e+09,2.706640e+11,"11,652,907,374","12,710,608,683","12,761,841,748","10,441,506,878","10,441,506,878","11,601,674,317","11,601,674,313","11,601,674,313","11,601,674,313","11,601,674,313","11,601,674,313","143,045,600,413"
4106,2024,Tullverket,Avgiften till Europeiska unionen,Tullavgift,Avgiften till Europeiska unionen,2.021001e+09,3.544660e+11,"50,380,363,575","5,757,832,845","3,297,813,873","4,289,231,776","55,410,103,275","45,638,626,425","5,496,219,135","4,668,515,415","443,608,821","60,536,608,275","56,621,668,551","61,925,125,491"
4107,2024,Skatteverket,Avgiften till Europeiska unionen,Mervärdesskattebaserad avgift,Avgiften till Europeiska unionen,2.021005e+09,3.870440e+11,"67,583,196,413","73,717,531,225","74,014,666,858","60,557,454,702","60,557,454,702","6,728,606,078","6,728,606,078","6,728,606,078","6,728,606,078","6,728,606,078","6,728,606,078","10,242,054,614"

In [15]:
df.to_csv("output_demo_v1", index=False)